/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    text-align: center;
    background-color:darkseagreen;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.main-div{
    margin-top: 10rem;
}
.child-div{
    background-color:rgb(86, 107, 108) ;
    display: inline-block;
    padding: 2rem;
    border-radius: 10px;
box-shadow: -4px -6px 3px 2px rgb(231, 231, 221);
}
figcaption{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: wheat;
}
.addItems,.eachItem{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    font-size: 1.5rem;
    outline: none;
}
.fa-plus{
    font-size: 1.5rem;
    background-color: #FFFFFF;
    padding: .2rem;
    outline: none;
    margin-left: 10px;
    color:chartreuse;
}
.eachItem{
    justify-content: space-around;
    margin: 1rem 5rem;
    padding: .5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: wheat;
}
h3{
    color: rgb(91, 91, 109);
    font-weight: 500;
}
.fa-trash-alt{
    color: rgb(231, 18, 18);
}
.btn{
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
    margin-top: .5rem;
    background-color:springgreen;
    color: red;
    box-shadow: 2px 3px 2px 1px rgb(21, 186, 43);
}